@model IEnumerable<Dozentenplanung.Models.Lecturer>;

@{
    ViewData["title"] = "Dozenten";
    ViewData["menuId"] = "lecturers";
}

<a asp-controller="lecturer" asp-action="edit" class="button is-success">Dozent erstellen</a>

<table class="table is-fullwidth is-hoverable is-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>E-Mail</th>
            <th>Notizen</th>
            <th />
        </tr>
    </thead>
    
    @foreach (var eachLecturer in Model) { 
        <tr>
            <td onclick="location.href = '@(Url.Action("lecturer", "lecturer", new { id = eachLecturer.Id }))'">
                @Html.DisplayFor(modelItem => eachLecturer.Id)
            </td>
            <td onclick="location.href = '@(Url.Action("lecturer", "lecturer", new { id = eachLecturer.Id }))'">
                @Html.DisplayFor(modelItem => eachLecturer.Firstname)
            </td>
            <td onclick="location.href = '@(Url.Action("lecturer", "lecturer", new { id = eachLecturer.Id }))'">
                @Html.DisplayFor(modelItem => eachLecturer.Lastname)
            </td>
            <td onclick="location.href = '@(Url.Action("lecturer", "lecturer", new { id = eachLecturer.Id }))'">
                @Html.DisplayFor(modelItem => eachLecturer.Mail)
            </td>
            <td onclick="location.href = '@(Url.Action("lecturer", "lecturer", new { id = eachLecturer.Id }))'">
                @Html.DisplayFor(modelItem => eachLecturer.Notes)
            </td>
            <td><a class="button" asp-controller="lecturer" asp-action="edit" asp-route-id="@eachLecturer.Id">Bearbeiten</a></td>
        </tr>
    }
</table>