@model IEnumerable<Dozentenplanung.Models.Lecturer>;

@{
    ViewData["title"] = "Dozenten";
    ViewData["menuId"] = "lecturers";
}

<form id="form" asp-action="index" asp-controller="Lecturer" method="get">
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label">Vorname</label>
                <div class="control">
                    <input name="firstname" class="input" type="text" placeholder="Vorname" value=@ViewBag.Firstname>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label">Nachname</label>
                <div class="control">
                    <input name="lastname" class="input" type="text" placeholder="Nachname" value=@ViewBag.Lastname>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="button" form="form">Suchen</button>
    @if (ViewBag.CanWrite)
    {
        <a asp-controller="lecturer" asp-action="edit" class="button is-success">Dozent erstellen</a>
    }


</form>


<table class="table is-fullwidth is-hoverable is-striped">
    <thead>
        <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>E-Mail</th>
            <th>Notizen</th>
            <th />
        </tr>
    </thead>
    
    @foreach (var eachLecturer in Model) { 
    <tr>
        <td onclick="location.href = '@(Url.Action("lecturer", "lecturer", new { id = eachLecturer.Id }))'">
            @Html.DisplayFor(modelItem => eachLecturer.Firstname)
        </td>
        <td onclick="location.href = '@(Url.Action("lecturer", "lecturer", new { id = eachLecturer.Id }))'">
            @Html.DisplayFor(modelItem => eachLecturer.Lastname)
        </td>
        <td onclick="location.href = '@(Url.Action("lecturer", "lecturer", new { id = eachLecturer.Id }))'">
            @Html.DisplayFor(modelItem => eachLecturer.Mail)
        </td>
        <td onclick="location.href = '@(Url.Action("lecturer", "lecturer", new { id = eachLecturer.Id }))'">
            @Html.DisplayFor(modelItem => eachLecturer.Notes)
        </td>
        @if (ViewBag.CanWrite)
        {
        <td><a class="button" asp-controller="lecturer" asp-action="edit" asp-route-id="@eachLecturer.Id">Bearbeiten</a></td>
        }
    </tr>
    }
</table>