@model Dozentenplanung.Models.Module

@{
    string theTitleString = "Neues Modul";
    bool isNew = Model == null;
    if (!isNew) {
        theTitleString = Model.Title;
    };

    ViewData["title"] = theTitleString;
    ViewData["menuId"] = "modules";

}
<form id="form" asp-action="SaveModule" asp-controller="Module" asp-route-id="@Model.Id" asp-route-courseId="@Model.CourseId">
    <div class="columns ">
        <div class="column">
            <div class="field">
                <label class="label">Modulcode</label>
                <div class="control">
                    @Html.EditorFor(module => module.Designation, new { htmlAttributes = new { @class = "input" } })
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label">Titel</label>
                <div class="control">
                    @Html.EditorFor(module => module.Title, new { htmlAttributes = new { @class = "input" } })
                </div>
            </div>
        </div>
    </div>
    <a asp-controller="module" asp-action="delete" asp-route-id="@Model.Id" class="button is-danger">Löschen</a>
    <button type="submit" class="button is-success" form="form">Speichern</button>
</form>