@model IEnumerable<Dozentenplanung.Models.Module>;

@{
    ViewData["Title"] = "Module";
    ViewData["menuId"] = "modules";
}


<table class="table is-fullwidth is-hoverable is-striped">
    <thead>
        <tr>
            <th>Kurs</th>
            <th>Modulcode</th>
            <th>Titel</th>
            <th />
        </tr>
    </thead>
    @foreach (var eachModule in Model) {
    <tr>
        <td onclick="location.href = '@(Url.Action("module", "module", new { id = eachModule.Id }))'">
            @Html.DisplayFor(modelItem => eachModule.Course.Designation)
        </td>
        <td onclick="location.href = '@(Url.Action("module", "module", new { id = eachModule.Id }))'">
        @Html.DisplayFor(modelItem => eachModule.Designation)
        </td>
        <td onclick="location.href = '@(Url.Action("module", "module", new { id = eachModule.Id }))'">
        @Html.DisplayFor(modelItem => eachModule.Title)
        </td>
        <td>
            @if (ViewBag.CanWrite) {
                <a class="button" asp-controller="module" asp-action="edit" asp-route-id="@eachModule.Id">Bearbeiten</a>
            }
        </td>
    </tr>
    }
</table>