@model Dozentenplanung.Models.Module;

@{
    ViewData["title"] = "Modul: " + Model.Designation;
    ViewData["menuId"] = "courses";
}

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a asp-controller="course" asp-action="index">Kurse</a></li>
    <li><a asp-controller="course" asp-action="course" asp-route-id="@Model.CourseId">@Model.Course.Title</a></li>
    <li class="is-active"><a href="#" aria-current="page">@Model.Title</a></li>
  </ul>
</nav>

<table class="attributesTable">
    <tr>
        <td>Bezeichnung:</td>
        <td>@Model.Designation</td>
    </tr>
    <tr>
        <td>Titel:</td>
        <td>@Model.Title</td>
    </tr>
</table>


<a asp-controller="unit" asp-action="edit" asp-route-moduleId="@Model.Id" class="button is-success">Unit erstellen</a>

<table class="table is-hoverable is-fullwidth is-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Bezeichnung</th>
            <th>Titel</th>
            <th>Dozent</th>
            <th/>
        </tr>
    </thead>
    @foreach(var eachUnit in Model.Units) {
        <tr>
            <td onclick="location.href = '@(Url.Action("unit", "unit", new { id = eachUnit.Id }))'">
                @Html.DisplayFor(modelItem => eachUnit.Id)
            </td>
            <td onclick="location.href = '@(Url.Action("unit", "unit", new { id = eachUnit.Id }))'">
                @Html.DisplayFor(modelItem => eachUnit.Designation)
            </td>
            <td onclick="location.href = '@(Url.Action("unit", "unit", new { id = eachUnit.Id }))'">
                @Html.DisplayFor(modelItem => eachUnit.Title)
            </td>
            <td onclick="location.href = '@(Url.Action("unit", "unit", new { id = eachUnit.Id }))'">
                @Html.DisplayFor(modelItem => eachUnit.LecturerName)
            </td>
            <td>
                <a class="button" asp-controller="unit" asp-action="edit" asp-route-id="@eachUnit.Id">
                    Bearbeiten
                </a>
            </td>
        </tr>
    }
</table>