@model IEnumerable<Dozentenplanung.Models.Course>;
@{
    ViewData["title"] = "Kurse";
    ViewData["menuId"] = "courses";
}

<a asp-controller="course" asp-action="edit" class="button is-success">Kurs erstellen</a>

<table class="table is-fullwidth is-hoverable is-striped">
    <thead>
        <tr>
            <th>Bezeichnung</th>
            <th>Jahr</th>
            <th>Name</th>
            <th />
        </tr>
    </thead>
    @foreach (var eachCourse in Model) {
        <tr>
            <td onclick="location.href = '@(Url.Action("course", "course", new { id = eachCourse.Id }))'">
                @Html.DisplayFor(modelItem => eachCourse.Designation)
            </td>
            <td onclick="location.href = '@(Url.Action("course", "course", new { id = eachCourse.Id }))'">
                @Html.DisplayFor(modelItem => eachCourse.Year)
            </td>
            <td onclick="location.href = '@(Url.Action("course", "course", new { id = eachCourse.Id }))'">
                @Html.DisplayFor(modelItem => eachCourse.Title)
            </td>
            <td>
                <a class="button" asp-controller="course" asp-action="edit" asp-route-id="@eachCourse.Id">Bearbeiten</a>
            </td>
        </tr>
    }
</table>