@model Dozentenplanung.Models.Unit

@{
    ViewData["title"] = Model.Title;
    ViewData["menuId"] = "courses";

}

<form id="form" asp-action="save" asp-controller="Unit" asp-route-id="@Model.Id">
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label">Bezeichnung</label>
                <div class="control">
                    @Html.EditorFor(unit => unit.Designation, new { htmlAttributes = new { @class = "input" } })
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label">Titel</label>
                <div class="control">
                    @Html.EditorFor(unit => unit.Title, new { htmlAttributes = new { @class = "input" } })
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label">Semester</label>
                <div class="control">
                    @Html.EditorFor(unit => unit.Semester, new { htmlAttributes = new { @class = "input" } })
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label">Jahr</label>
                <div class="control">
                    @Html.EditorFor(unit => unit.Year, new { htmlAttributes = new { @class = "input" } })
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label">Quartal</label>
                <div class="control">
                    @Html.EditorFor(unit => unit.Quarter, new { htmlAttributes = new { @class = "input" } })
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="container">
                <label class="label">Dozent</label>
                <p class="control">
                    <select style="width:25%;" name="lecturer" asp-items="@ViewBag.SuitableLecturers"></select>
            </div>
        </div>
    </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="container">
                <label class="label">Skills</label>
                <p class="control">
                    <select style="width:25%;" multiple name="skillIds" asp-items="@ViewBag.Skills"></select>
            </div>
        </div>
    </div>
    <div class=" = columns">
        <div class="column">
            <div class="field">
                <label class="label">Prüfungsart:</label>
                <div class="control">
                    @Html.EditorFor(unit => unit.ExamType, new { htmlAttributes = new { @class = "input" } })
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label">Prüfungsdauer</label>
                <div class="control">
                    @Html.EditorFor(unit => unit.DurationOfExam, new { htmlAttributes = new { @class = "input" } })
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label">Status</label>
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="status" value="0" checked=@Model.IsStatusOpen>
                        Offen
                    </label>
                    <label class="radio">
                        <input type="radio" name="status" value="1" checked=@Model.IsStatusRequested>
                        Angefragt
                    </label>
                    <label class="radio">
                        <input type="radio" name="status" value="2" checked=@Model.IsStatusConfirmed>
                        Angefragt
                    </label>
                </div>
            </div>
        </div>

    </div>
    <a asp-controller="unit" asp-action="delete" asp-route-id="@Model.Id" class="button is-danger">Löschen</a>
    <button type="submit" class="button is-success" form="form">Speichern</button>
</form>

<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.min.js'></script>

<script src="js/index.js"></script>

<script>
    $(function () {
        $('select').selectize();
    });
</script>