@model IEnumerable<Dozentenplanung.Models.Unit>;
@{
    ViewData["title"] = "Units";
    ViewData["menuId"] = "units";
}
<form id="form" asp-action="index" asp-controller="Unit" method="get">
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label">Unitcode</label>
                <div class="control">
                    <input name="designation" class="input" type="text" placeholder="Unit Code" value=@ViewBag.Designation>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label">Titel</label>
                <div class="control">
                    <input name="title" class="input" type="text" placeholder="Titel der Unit" value=@ViewBag.UnitTitle>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label">Semester</label>
                <div class="control">
                    <input name="semester" class="input" type="number" placeholder="Semester" value=@ViewBag.Semester>
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label">Beginn</label>
                <div class="control">
                    <input name="beginDate" class="input" type="date" placeholder="Beginndatum" value=@ViewBag.BeginDate>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label">Ende</label>
                <div class="control">
                    <input name="endDate" class="input" type="date" placeholder="Enddatum" value=@ViewBag.EndDate>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label">Status</label>
                <div class="control">
                    <div class="select">
                        <select name="status">
                            <option value="-1">Alle</option>
                            <option value="0">Offen</option>
                            <option value="1">Angefragt</option>
                            <option value="2">Bestätigt</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label">Dozent</label>
                <div class="control">
                    <div class="select">
                        <select class="selectisize" name="lecturerId" asp-items="@ViewBag.Lecturers"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label">Kurs</label>
                <div class="control">
                    <input name="course" class="input" type="text" placeholder="Kurs" value=@ViewBag.CourseDesignation>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="button" form="form">Suchen</button>
    <button type="submit" asp-action="UnitReport" asp-controller="report" target="_blank" class="button" form="form">Report</button>
</form>

<table class="table is-fullwidth is-hoverable is-striped">
    <thead>
        <tr>
            <th>Status</th>
            <th>Unitcode</th>
            <th>Name</th>
            <th>Kurs</th>
            <th>Beginn</th>
            <th>Ende</th>
            <th>Prüfungsart</th>
            <th>Prüfungsdauer</th>
            <th>Dozent</th>
            <th />
        </tr>
    </thead>
    @foreach (var eachUnit in Model) {
        <tr>
            <td>
                <img src=@eachUnit.StatusIconString() />
            </td>
            <td onclick="location.href = '@(Url.Action("unit", "unit", new { id = eachUnit.Id }))'">
                @Html.DisplayFor(modelItem => eachUnit.Designation)
            </td>
            <td onclick="location.href = '@(Url.Action("unit", "unit", new { id = eachUnit.Id }))'">
                @Html.DisplayFor(modelItem => eachUnit.Title)
            </td>
            <td onclick="location.href = '@(Url.Action(" unit", "unit" , new { id=eachUnit.Id }))'">
                @Html.DisplayFor(modelItem => eachUnit.CourseDesignation)
            </td>
            <td onclick="location.href = '@(Url.Action("unit", "unit", new { id = eachUnit.Id }))'">
                @Html.DisplayFor(modelItem => eachUnit.BeginDateString)
            </td>
            <td onclick="location.href = '@(Url.Action("unit", "unit", new { id = eachUnit.Id }))'">
                @Html.DisplayFor(modelItem => eachUnit.EndDateString)
            </td>
            <td onclick="location.href = '@(Url.Action("unit", "unit", new { id = eachUnit.Id }))'">
                @Html.DisplayFor(modelItem => eachUnit.ExamType.Title)
            </td>
            <td onclick="location.href = '@(Url.Action("unit", "unit", new { id = eachUnit.Id }))'">
                @Html.DisplayFor(modelItem => eachUnit.DurationOfExam)
            </td>
            <td onclick="location.href = '@(Url.Action("unit", "unit", new { id = eachUnit.Id }))'">
                @Html.DisplayFor(modelItem => eachUnit.Lecturer.Fullname)
            </td>
            @if (ViewBag.CanWrite) {
                <td>
                    <a class="button" asp-controller="unit" asp-action="edit" asp-route-id="@eachUnit.Id">Bearbeiten</a>
                </td>
            }
        </tr>
    }
</table>
