@model Dozentenplanung.Models.Unit;

@{
    ViewData["title"] = "Unit " + Model.Designation;
    ViewData["menuId"] = "courses";
}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a asp-controller="course" asp-action="index">Kurse</a></li>
    <li><a asp-controller="course" asp-action="course" asp-route-id="@Model.Module.CourseId">@Model.Module.Course.Title</a></li>
    <li><a asp-controller="module" asp-action="module" asp-route-id="@Model.Module.Id">@Model.Module.Title</a></li>
    <li class="is-active"><a href="#" aria-current="page">@Model.Title</a></li>
  </ul>
</nav>
<table class="attributesTable">
    <tr>
        <td>Bezeichnung:</td>
        <td>@Model.Designation</td>
    </tr>
    <tr>
        <td>Titel:</td>
        <td>@Model.Title</td>
    </tr>
    <tr>
        <td>Dozent:</td>
        <td>@Model.Lecturer.Fullname</td>
    </tr>
</table>
<a class="button" asp-controller="unit" asp-action="edit" asp-route-id=@Model.Id>Bearbeiten</a>