@model IEnumerable<Dozentenplanung.Models.ApplicationUser>;
@{
    ViewData["title"] = "Benutzer";
    ViewData["menuId"] = "users";
}

@if (ViewBag.IsAdministrator) {
    <a class="button is-success" asp-controller="user" asp-action="CreateUserView">User anlegen</a>
}

<table class="table is-fullwidth is-hoverable is-striped">
    <thead>
        <tr>
            <th>E-Mail</th>
            <th>Schreibrecht</th>
            <th>Admin</th>
            <th />
        </tr>
    </thead>
    @foreach (var eachUser in Model) {
    <tr>
        <td onclick="location.href = '@(Url.Action("applicationUser", "user", new { id = eachUser.Id }))'">
            @Html.DisplayFor(modelItem => eachUser.UserName)
        </td>
        <td onclick="location.href = '@(Url.Action("applicationUser", "user", new { id = eachUser.Id }))'">
            @Html.DisplayFor(modelItem => eachUser.CanWrite)
        </td>
        <td onclick="location.href = '@(Url.Action("applicationUser", "user", new { id = eachUser.Id }))'">
            @Html.DisplayFor(modelItem => eachUser.IsAdministrator)
        </td>
        <td>
            @if (ViewBag.IsAdministrator)
        {
            <a class="button" asp-controller="user" asp-action="edit" asp-route-id=@eachUser.Id>Bearbeiten</a>
    }
        </td>
    </tr>
    }
</table>